[worldserver]

################################################################################################################
#    Dynamic.XP.Rate
#        Description: 您可以设置不同级别范围的个人 XP 比率。
#
#        Dynamic.XP.Rate.Announce: 1 (Enable) Default
#                                  0 (Disable)
#
#        Dynamic.XP.Rate: 1 (Enable) Default
#                         0 (Disable)
#
#        Dynamic.XP.Rate.X-X: 1+ (在该级别范围内设置自定义 XP 比率)
#                             0  (将自定义 XP 比率重置为该级别范围内的默认值)
#
Dynamic.XP.Rate.Announce = 1

Dynamic.XP.Rate = 1

Dynamic.XP.Rate.1-9 = 1
Dynamic.XP.Rate.10-19 = 2
Dynamic.XP.Rate.20-29 = 2
Dynamic.XP.Rate.30-39 = 2
Dynamic.XP.Rate.40-49 = 2
Dynamic.XP.Rate.50-59 = 2
Dynamic.XP.Rate.60-69 = 1
Dynamic.XP.Rate.70-79 = 1
##################################################################################################################
